.cell::before {
    content: "";
    padding-top: 100%;
    display: block;
}

.open {
    background-color: rgba(255, 255, 255, 0.5);
    color: #121212;
}

.close {
    background-color: #121212;
    color: white;
}

.start {
    background-color: #C84B31;
}

.goal {
    background-color: #2D4263;
}

.visited {
    background-color: #e7a99c;
}

.on_path {
    background-color: #a5b8d6;
}

/* .top {
    border-top: solid black 3px;
}

.left {
    border-left: solid black 3px;
}

.right {
    border-right: solid black 3px;
}

.bottom {
    border-bottom: solid black 3px;
} */