.cell {
    width: calc(100% / 35);
}

.cell::before {
    content: "";
    padding-top: 100%;
    display: block;
}

.legend {
    width: 10px;
    float: left;
}

.open {
    background-color: white;
    color: black;
}

.close {
    background-color: black;
    color: white;
}

.start {
    background-color: #C84B31;
}

.goal {
    background-color: #2D4263;
}

.visited {
    background-color: #f2d2cb;
}

.on_path {
    background-color: #ced8e9;
}

/* .top {
    border-top: solid black 3px;
}

.left {
    border-left: solid black 3px;
}

.right {
    border-right: solid black 3px;
}

.bottom {
    border-bottom: solid black 3px;
} */